html, body {
    padding: 0;
    height: 100%;
    width: 100%;
    /*font-family: 'Inconsolata', null;*/
    font-family: 'Muli';
    font-weight: 600;
    color: #f3ca1e;
}

/*
h1, h2, h3 {
    border-bottom: 1px solid #e5e5e5;
}*/

.overlay-wrapper {
    width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9998;
    background-color: #fff;
    overflow: scroll;
    box-shadow: 1px 0px 30px #777;
}

.overlay-download {
    /*width: 700px;*/
    /*height: 80px;*/
    /*margin-top: -40px;*/
    /*margin-left: -200px;*/
    position: fixed;
    top: 10%;
    left: 60%;
    z-index: 9998;
    text-align: center;
    /*background-color: #333333;*/
    background-color: #2c3e50;
    /*opacity:0.95;*/
    /*overflow: scroll;*/
    box-shadow: 1px 0px 10px #777;
    /*font-size: 32pt;*/
}

.overlay {
    margin: 2em;
}



#fullscreen-bg-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#logo-image {
  /*z-index: -999;*/
  /*min-height: 100%;*/
  /*min-width: 1024px;*/
  width: 100%;
  height: auto;
  /*position: fixed;*/
  /*top: 0;*/
  /*left: 0;*/
}
