

<footer class="footer">
  <div class="container">
    <p class="text-muted">
      Made and maintained with <i class="fa fa-heart" aria-hidden="true"></i> by the <a href="https://3d.bk.tudelft.nl">3D Geoinformation group at TU Delft</a>
      <br>
      <a href="/contribute">Want to contribute? Spotted an error?</a>
    </p>
  </div>
</footer>
  
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ "/assets/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/modal.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.eqheight.js" | prepend: site.baseurl }}"></script>
<script>
  $(document).ready(function() {
    $(".row").eqHeight(".column");
  });
</script>
<script> $('#cityjsonmodal').modal('show') </script>

