

<footer class="footer">
  <div class="container">
    <p class="text-muted">This website is made and maintained with <i class="fa fa-heart" aria-hidden="true"></i> by the <a href="https://3d.bk.tudelft.nl">3D Geoinformation group at the TU Delft</a></p>
</footer>
  
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ "/assets/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<!-- <script src="{{ "/assets/js/holder.js" | prepend: site.baseurl }}"></script> -->
<script src="{{ "/assets/js/jquery.eqheight.js" | prepend: site.baseurl }}"></script>
<script>
  $(document).ready(function() {
    $(".row").eqHeight(".column");
  });
</script>

