/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 50px;*/
  background-color: #F8F8F8;
  color: #6BCC60;
}

.footer > .container {
  /*height: 100%;*/
  /*display: table-cell;*/
  /*vertical-align: middle;*/
  padding-top: 10px;
  /*padding-bottom: 10px;*/
}

